
            body {
                font-size:18px;
                width:1000px;
                margin:0 auto; 
            }
    
    #banner {
            /* background:#F00; */
                    height:250px;
                }
                .menu ul{
            list-style-type: none;
            
            
    }
    .wrapper{
            
            padding: 1%;
            width: 98%;
            margin: 0 auto;
    background-color: #DDDDDD;
            
            
    }
    .sub-list-group {
        display: none;
    }
    
    .text-center{
            text-align: center;
    }
    .menu ul li{
            display: inline;
            padding: 3%;
            
    }
    .menu ul li a{
            text-decoration: none;
            font-weight: bold;
            font-size: 80%;
            color: black;
            
    }
    
                    
    #content #left {
                    
                    
                    height:800px;
                    width:200px;
                    float:left;
                    font-weight: bold;
                    color: black;
    
    }
    #content #right {
                    background: #FF6633;
                    height:800px;
                    width:800px;
                    float:right;
                    
    }
    #right-heading {
        color: white; 
        font-size: 30px;
        line-height: 68px;
        margin-left: 153px;
    }
    .right-heading:hover h3{
        cursor: pointer;
    }
    #right button {
        border: none;
        background: transparent;
        line-height: 30px;
        font-weight: 700;
    }
    #right button:hover {
        color:#FF6633;
        cursor: pointer;
    }
    #right-register {
        position: relative;
    }
    #right-register::before {
        content: "";
        border-right: 1px solid #000;
        height: 16px;
        right: -3px;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
    }
    
    .group-hinhanh {
        margin-left:20px;
    }
    .hinhanh {
                width: 25%;
                padding: 8px;
                text-align: center;
                float: left;
                box-sizing: border-box;
    }
    .hinhanh h3 {
        text-align: start;
        margin-left: 20px;
    }
    .hinhanh p {
        color: #383131;
    }
    .hinhanh:hover {
        transform: scale(1.05,1.05);
    }
    .seclect-order {
        background-color: #FF6633;
        border-radius: 6px;
        color: #fff;
        cursor: pointer;
        height: 32px;
        line-height: 32px;
    }
    .seclect-order:hover {
        background-color: #dd4715;
    }
    #menu1 ul {
            background:white ;
            width: 200px;
            padding: 0;
            list-style-type: none;
            text-align: center;
    }
    #menu1 li {
            width: auto;
            height: 40px;
            line-height: 30px;
        border-bottom: 1px solid #e8e8e8;
            padding: 0;
    }
    #menu1 li a {
            text-decoration: none;
    color: #333;
            font-weight: bold;
            display: block;
    }
    #menu1 li:hover {
        background: #CDE2CD;
    }
    #menu1 .sub-menu {
            position: absolute;
            left: 250px;
            top: 0;
    }
    .sub-menu-li {
        position: relative;
    }
    .sub-menu-li:hover .sub-2 {
        display: block;
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
    .sub-2 {
        position: absolute;
        left: 100px;
        top: -10px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
        display: none;
    }
    .wrapper-list {
        position: relative;
    }
    .wrapper li a{
        display: inline-block;
        margin-top: 10px;
    }
    .wrapper li:hover a{
        color: red;
    }
    .wrapper-list:hover .menu-cart {
        display: block;
    }
    
    .menu-cart {
        z-index: 1;
        display: none;
        position: absolute;
        /* right: -300px; */
        left: 20px;
        top: 76px;
        width: 400px;
        height: 250px;
        background-color: #fff;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
        padding: 50px 0;
    }
    .menu-cart-icon {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        padding: 5px 10px;
        margin: 10px 5px;
    }
    #content li:hover>a{
        color: #FF6633; 
    }
            
    .menu-seclect>a{
        color: #FF6633 !important;
    }
    #content #menu1 ul h2{
            background: url(../THUCHANH/icon1.png) no-repeat 10px 3px;
            font-size: 28px;
    }
    
    .banner-ads {
        margin-top: 70px;
        padding-bottom: 50px;
        display: flex;
        width:1000px;
        justify-content: space-between;
        border-bottom: 3px solid #ccc;
    }
    .banner-ads img:first-child {
        width: 497px;
        height: 172px;
    }
    .banner-ads img:nth-child(2) {
        width: 497px;
        height: 172px;
    }
    
    .pagination {
        margin-top: 60px;
        
    }
    .pagination .pagination-item {
        padding: 5px 10px;
        color: rgb(63, 54, 54);
        margin: 0 16px;
        cursor: pointer;
    }
    .pagination .pagination-here {
        background-color: #FF6633;
        color: #fff;
    }
    #footer{
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #footer p{
        flex: 1;
        font-size: 15px;
        text-align:start;
    }
    #footer img {
        width: 205px;
        height: 77px;
    }
    .box {
        position: relative;
    }
    .stext {
        margin-bottom: 24px;
        width: 150px;
        height: 50px;
        background: #2b303b;
        border: none;
        font-size: 10pt;
        float: left;
        color: #fff;
        padding-left: 45px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    .stext::placeholder {
        color: rgb(216, 198, 198);
    }
    .fa-search {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 16px;
        margin-top: 16px;
        z-index: 1;
    color: #fff;
    }
    
    .footer-bottom {
        background-color: #f5f5f5;
        font-size: 16px;
        text-align: center;
        margin-top: 20px;
        color: #757575;
    }
    /* Modal */
    .modal {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.4);
    }
    .modal.modal-register {
        display: none;
    }
    
    .modal-close {
        position: absolute;
        right: 0;
        padding: 5px 10px; 
        cursor: pointer;
    }
    .modal-close:hover {
        background-color: #EE3124;
        color: #fff;
        border-top-right-radius: 5px;
    }
    .modal-main {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .modal-container {
        position: relative; 
        justify-content:center;
        background-color:#fff;
        width: 400px;
        border-radius: 5px;
        /* min-height: 300px; */
    
    }
    .form-account-heading {
        padding-top: 20px;
        text-align: center;
    }
    
    .form-account-body {
        margin: 15px 15px;
    }
    
    .form-account-fillin {
        margin-bottom: 10px;
    }
    .form-account-input {
        padding-top: 20px;
        border-top: 1px solid rgb(238, 232, 232);
        border-bottom: 1px solid rgb(238, 232, 232);
    }
    .form-input {
        display: block;
        width: 358px;
        height: 30px;
        margin: 5px 0 20px;
        padding-left: 10px;
        border: 1px solid #EE3124;
        outline: none;
        background-color: rgba(245, 231, 231, 0.37);
    }
    .form-group #username {
        position: relative;
    }
    .modal-login .form-input-suggest,
    .modal-register .form-input-suggest {
        width: 93%;
        top: 34%;
        list-style: none;
        position: absolute;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;    
        display: none;
        padding: 0;
    }
    .form-input-suggest li {
        padding: 5px 10px;
    
    }
    .form-input-suggest li:hover {
        background-color: #ccc;
    }
    #username-login:focus ~ .form-input-suggest,
    #username-register:focus ~ .form-input-suggest {
        display: block;
    }
    .form-account-label {
        font-weight: 600;
    }
    .form-account-service {
        margin: 20px 6px 16px 0;
        font-size: 14px;
    }
    
    .form-account-link {
        color: #EE3124;
        border: none;
        background-color: transparent;
        font-size: 14px;
        text-decoration: underline;
        cursor: pointer;
    }
    
    .form-account-btn {
        width: 100%;
        padding: 8px 0;
        color: #fff;
        border: none;
        background-color: #EE3124;
    }
    .form-account-btn:hover {
        cursor: pointer;
        background-color: #c71c0f;
    }
    .form-account-ask {
        text-align: center;
        padding: 20px 0 30px;
    }
    /* modal login */
    .modal.modal-login {
        display: none;
        
    }
    .form-account-check {
        margin: 10px 0;
        display: flex;
        justify-content: space-between;
    }
    .form-account-forgot {
        color:#EE3124;
    }
    .modal-login .form-input-suggest {
        width: 92%;
        top: 41%;
        list-style: none;
        position: absolute;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;    
        display: none;
    }
    
    /* fixed */
    .fixed {
        font-size: 16px;
        padding: 0;
        margin: 0;
        position: fixed;
        right: 18px;
        bottom:50px;
        background-color: rgba(237,29,36,0.8);
        padding: 5px 10px;
        border-radius: 5px;
        color: #fff;
    }
    .fixed::after {
        content: "";
        position: absolute;
        border-width: 5px 10px;
        border-style: solid;
        right: -20px;
        top: 8px;
        border-color: transparent transparent transparent rgba(237,29,36,0.8);
    }
    
    /* Request */
    .request {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.4);
        display: none;
    }
    .request-main {
        position: absolute;
        background-color: #fff;
        width: 400px;
        /* height: 200px; */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .request-close {
        position: absolute;
        right: 0;
        padding: 5px 10px;
        border-radius: 3px;
    }
    .request-close:hover {
        background-color: #EE3124;
        cursor: pointer;
    }
    .request-heading {
        padding: 0 0 20px 20px;
        border-bottom: 1px solid #ccc;
    }
    
    .request-body {
        text-align: center;
    }
    
    .request-header {
        padding-top: 20px;
    }
    
    .request-btn {
        margin: 20px 0 30px;
    
    }
    
    .request-button {
        border: none;
        padding: 8px 16px;
        min-width: 100px;
        border-radius: 3px;
        color: #fff;
        font-weight: 600;
    }
    
    .request-button:hover{
        opacity: 90%;
        cursor: pointer;
    }
    
    .button-green {
        background-color: #40721B;
    }
    
    .button-red {
        background-color: #BD272F;
    }
    
    .load {
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
    .load-main {
        position: relative;
        background-color: #fff;
    }
    .load-close {
        position: absolute;
        right: 0;
        top: 0;
        padding: 5px 10px;
        background-color: #f5f5f5;
        color: #EE3124;
    }
    .load-close:hover {
        background-color: #EE3124;
        color: #f5f5f5;
        cursor: pointer;
    }